In [ ]:
# Imports & paths 
import re
import numpy as np
import pandas as pd

RAW_CSV_PATH = "D:\Luxury housing sales analysis\Luxury_Housing_Bangalore.csv"       # <-- change to your raw CSV
OUTPUT_CSV_PATH = "D:\Luxury housing sales analysis\luxury_housing_cleaned.csv"

pd.set_option("display.max_columns", 100)

In [ ]:
# Load raw CSV 
df = pd.read_csv(RAW_CSV_PATH, low_memory=False)
print("Raw shape:", df.shape)
df.head()

Raw shape: (101000, 18)

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

In [ ]:
#  Standardize column names & unify common variants 
df.columns = (
    df.columns.str.strip().str.lower()
      .str.replace(r"[^a-z0-9]+", "_", regex=True)
      .str.replace(r"_+", "_", regex=True)
      .str.strip("_")
)

# Map common column name variants to the canonical ones used below
rename_map = {
    "ticket_price_cr": "ticket_price_cr",
    "price": "ticket_price_cr",
    "micro_market": "micro_market",
    "builder": "builder",
    "configuration": "configuration",
    "possession_status": "possession_status",
    "amenity_score": "amenity_score",
    "booking_status": "booking_status",
    "purchase_quarter": "purchase_quarter",
    "quarter": "purchase_quarter",
    "sales_channel": "sales_channel",
    "buyer_type": "buyer_type",
    "buyer_comments": "buyer_comments",
    "project_id": "project_id",
    "area_sqft": "area_sqft",
    "area": "area_sqft",
    "built_up_area": "area_sqft",
}
df.rename(columns={k:v for k,v in rename_map.items() if k in df.columns}, inplace=True)
df.head(2)

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,connectivity_score,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN

In [ ]:
#  Small helper functions 

def parse_price_to_crore(x):
    """Convert strings like '₹2.5 Cr', '85 Lakh', '25000000' -> float (crores)."""
    if pd.isna(x): return np.nan
    s = str(x).lower().replace(",", "").replace("₹", "").strip()
    nums = re.findall(r"\d+\.?\d*", s)
    if not nums: return np.nan
    val = float(nums[0])

    if "cr" in s or "crore" in s:
        return val
    if "lakh" in s or "lac" in s or re.search(r"\bl\b", s):
        return val / 100.0  # lakh to crore
    
    return val/1e7 if val >= 1e6 else val  

def clean_text(x):
    if pd.isna(x): return np.nan
    s = re.sub(r"\s+", " ", str(x).strip())
    return " ".join([w if w.isupper() else w.title() for w in s.split()])

def quarter_number(q):
    """Extract 1-4 from things like 'Q1 FY24', 'FY24 Q3', '2024 Q2'."""
    if pd.isna(q): return np.nan
    m = re.search(r"Q([1-4])", str(q).upper())
    return float(m.group(1)) if m else np.nan

In [ ]:
#  Price & text normalization

if "ticket_price_cr" in df.columns:
    df["ticket_price_cr"] = df["ticket_price_cr"].map(parse_price_to_crore).astype("float64")

for col in ["builder","micro_market","configuration","possession_status",
            "booking_status","sales_channel","buyer_type"]:
    if col in df.columns:
        df[col] = df[col].map(clean_text)

In [ ]:
#  Simple null handling 


if "amenity_score" in df.columns:
    df["amenity_score"] = pd.to_numeric(df["amenity_score"], errors="coerce")
    if df["amenity_score"].notna().any():
        df["amenity_score"] = df["amenity_score"].fillna(df["amenity_score"].median())


if "booking_status" in df.columns:
    df["booking_status"] = df["booking_status"].fillna("Unknown")

In [ ]:
#  Feature engineering 

if "purchase_quarter" in df.columns:
    df["quarter_number"] = df["purchase_quarter"].map(quarter_number)


if "booking_status" in df.columns:
    positive = {"booked","sold","yes","true","1"}
    df["booking_flag"] = df["booking_status"].str.lower().isin(positive).astype(int)
else:
    df["booking_flag"] = 0

if {"ticket_price_cr","area_sqft"}.issubset(df.columns):
    df["area_sqft"] = pd.to_numeric(df["area_sqft"], errors="coerce")
    df.loc[df["area_sqft"] <= 0, "area_sqft"] = np.nan
    df["price_per_sqft"] = (df["ticket_price_cr"] * 1e7) / df["area_sqft"]

In [ ]:
# Dedupe, quick checks, save 

df.drop_duplicates(inplace=True)

print("Cleaned shape:", df.shape)
print("\nNulls (top 15):\n", df.isna().sum().sort_values(ascending=False).head(15))

if "ticket_price_cr" in df.columns:
    print("\nTicket_Price_Cr summary:\n", df["ticket_price_cr"].describe())

df.to_csv(OUTPUT_CSV_PATH, index=False)
print(f"\nSaved cleaned file to: {OUTPUT_CSV_PATH}")
df.head()

Cleaned shape: (100000, 20)

Nulls (top 15):
 quarter_number        100000
buyer_comments         18099
unit_size_sqft          9957
ticket_price_cr         9913
developer_name             0
project_name               0
micro_market               0
property_id                0
buyer_type                 0
purchase_quarter           0
configuration              0
transaction_type           0
amenity_score              0
connectivity_score         0
possession_status          0
dtype: int64

Ticket_Price_Cr summary:
 count    90087.000000
mean        12.719131
std          7.670279
min          0.193873
25%         10.010969
50%         12.038456
75%         14.097009
max        100.000000
Name: ticket_price_cr, dtype: float64

Saved cleaned file to: D:\Luxury housing sales analysis\luxury_housing_cleaned.csv

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,connectivity_score,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments,quarter_number,booking_flag
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4Bhk,12.750846,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!,NaN,0
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292152,Primary,Other,2024-06-30,4.839024,7.499123,Under Construction,NRI Desk,no,7.723898,106,NaN,NaN,0
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4Bhk,10.517724,Primary,HNI,2023-12-31,8.131315,8.669227,Ready To Move,Direct,yes,6.985493,113,Agent was not responsive.,NaN,0
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3BHK,9.396367,Primary,HNI,2024-03-31,7.501657,5.720246,Ready To Move,Online,yes,6.100929,106,Excellent location!,NaN,0
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392,Secondary,HNI,2024-12-31,4.525216,8.609649,Under Construction,Broker,no,5.312510,18,Too far from my office.,NaN,0

In [ ]:
#Imports & file path 
import os
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.types import String, Float, Integer, Text

CLEAN_CSV_PATH = r"D:\Luxury housing sales analysis\luxury_housing_cleaned.csv"  # <- update if needed
TABLE_NAME = "luxury_sales_blr"

In [2]:

engine = create_engine("mysql+pymysql://root:Neethi@2k00@127.0.0.1:3306/luxury_housing")

In [3]:
df = pd.read_csv(CLEAN_CSV_PATH)
df.head()

,property_id,micro_market,project_name,developer_name,unit_size_sqft,configuration,ticket_price_cr,transaction_type,buyer_type,purchase_quarter,connectivity_score,amenity_score,possession_status,sales_channel,nri_buyer,locality_infra_score,avg_traffic_time_min,buyer_comments,quarter_number,booking_flag
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4Bhk,12.750846,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!,NaN,0
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292152,Primary,Other,2024-06-30,4.839024,7.499123,Under Construction,NRI Desk,no,7.723898,106,NaN,NaN,0
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4Bhk,10.517724,Primary,HNI,2023-12-31,8.131315,8.669227,Ready To Move,Direct,yes,6.985493,113,Agent was not responsive.,NaN,0
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3BHK,9.396367,Primary,HNI,2024-03-31,7.501657,5.720246,Ready To Move,Online,yes,6.100929,106,Excellent location!,NaN,0
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392,Secondary,HNI,2024-12-31,4.525216,8.609649,Under Construction,Broker,no,5.312510,18,Too far from my office.,NaN,0

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.engine import URL


USER = "root"
PASSWORD = "Neethi@2k00"  
HOST = "127.0.0.1"
PORT = 3306
DB   = "luxury_housing"


server_url = URL.create(
    "mysql+pymysql",
    username=USER,
    password=PASSWORD,
    host=HOST,
    port=PORT,
)
server_engine = create_engine(server_url, pool_pre_ping=True)


with server_engine.begin() as conn:
    conn.execute(text(f"CREATE DATABASE IF NOT EXISTS `{DB}` DEFAULT CHARACTER SET utf8mb4"))
print("✅ Database ensured:", DB)

✅ Database ensured: luxury_housing

In [3]:
db_url = URL.create(
    "mysql+pymysql",
    username=USER,
    password=PASSWORD,
    host=HOST,
    port=PORT,
    database=DB,
)
engine = create_engine(db_url, pool_pre_ping=True)

# quick ping
with engine.begin() as conn:
    print("Ping:", conn.exec_driver_sql("SELECT 1").scalar())

Ping: 1

In [ ]:
CLEAN_CSV_PATH = r"D:\Luxury housing sales analysis\luxury_housing_cleaned.csv"
TABLE_NAME = "luxury_sales_blr"

df = pd.read_csv(CLEAN_CSV_PATH, low_memory=False)


from sqlalchemy.types import String, Float, Integer, Text
float_cols = {"ticket_price_cr","amenity_score","connectivity_score","unit_size_sqft","price_per_sqft","quarter_number"}
int_cols   = {"booking_flag"}
text_cols  = {"buyer_comments"}

dtype_map = {}
for col in df.columns:
    lc = col.lower()
    if lc in float_cols: dtype_map[col] = Float()
    elif lc in int_cols: dtype_map[col] = Integer()
    elif lc in text_cols: dtype_map[col] = Text()
    else: dtype_map[col] = String(255)

df.to_sql(TABLE_NAME, engine, if_exists="replace", index=False, dtype=dtype_map, chunksize=10_000)
print(f"Uploaded {len(df):,} rows to {DB}.{TABLE_NAME}")

✅ Uploaded 100,000 rows to luxury_housing.luxury_sales_blr

In [5]:
from sqlalchemy import text
import pandas as pd

with engine.begin() as conn:
    total = conn.execute(text(f"SELECT COUNT(*) FROM {TABLE_NAME};")).scalar()
    print("Row count:", total)

    if "booking_status" in df.columns:
        q1 = text(f'SELECT booking_status, COUNT(*) n FROM {TABLE_NAME} GROUP BY booking_status ORDER BY n DESC;')
        print(pd.read_sql(q1, conn))

    dev_col = "developer_name" if "developer_name" in df.columns else ("builder" if "builder" in df.columns else None)
    if dev_col:
        q2 = text(f'''
            SELECT `{dev_col}` AS developer, COUNT(*) n, ROUND(AVG(ticket_price_cr),2) avg_price_cr
            FROM {TABLE_NAME}
            GROUP BY `{dev_col}`
            ORDER BY avg_price_cr DESC
            LIMIT 20;
        ''')
        print(pd.read_sql(q2, conn))

Row count: 100000
            developer     n  avg_price_cr
0               Sobha  8958         12.89
1   Total Environment  9116         12.83
2          L&T Realty  9126         12.79
3              Godrej  9123         12.77
4         Puravankara  9077         12.74
5                 RMZ  9009         12.73
6            Prestige  9224         12.72
7        Tata Housing  8933         12.66
8             SNN Raj  9224         12.61
9             Embassy  9075         12.59
10            Brigade  9135         12.59